/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.card {
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 32px;
    margin: 15px 0 5px;
    font-family: serif;
}

.price {
    font-size: 20px;
    margin: 5px 0;
}

.description {
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    margin-bottom: 20px;
}

button {
    background-color: #f27466;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}